html, body{
           margin: 0;
           padding: 0;
           width: 100%;
           height: 100%;
           overflow-x: hidden;
           }

.Large{display: block;}

.Small{display: none;}

.container-1{
           display: grid;
           grid-template-columns: repeat(18,1fr);
           grid-template-rows: repeat(9,1fr);
           gap: 0.2vh;
           width: 95vw;
           height: 95vh;
           margin: 2.5vw;
           }

.Element{
        aspect-ratio: 1 / 1;
        background-color: white;
        border: 1px solid black;
        text-align: center;
        }

.Number{font-size: 2.4vh;}

.Symbol{font-size: 3.4vh;}

.Name{font-size: 1.8vh;}

.Weight{font-size: 1.5vh;}

.Non-Metal{background-color: darkorange;}

.Alkali{background-color: forestgreen;}

.Earth{background-color: crimson;}

.Transition{background-color: aqua;}

.Post-Transition{background-color: darkblue;}

.Metalloid{background-color: deeppink;}

.Halogen{background-color: gold;}

.Noble{background-color: darkviolet;}

.Lanthanide{background-color: lightgreen;}

.Actinide{background-color: darkcyan;}

                        @media (max-width: 1300px) {
                                                .Number{font-size: 1.9vh;}
                                                .Symbol{font-size: 2.9vh;}
                                                .Name{font-size: 1.5vh;}
                                                .Weight{font-size: 1.4vh;}
                                                }

                        @media (max-width: 1175px) {
                                                .Large{display: none;}
                                                .Small{
                                                        display: flex;
                                                        outline: 3px solid red;
                                                        height: 100vh;
                                                        align-items: center;
                                                        }
                                                .Small img{
                                                        width: 95vw;
                                                        max-width: 100%;
                                                        height: auto;
                                                        object-fit: contain;
                                                        margin: 2.5vh;
                                                        }
                                                .Heading{display: none;}
                                                }
